<div class="row">
    <div class="col-md-12">
      <h1>Welcome to Git Viewer</h1>
      <p>Select an option below:</p>
      <div class="list-group">
        <!-- Link to commits list -->
        <a href="#" class="list-group-item list-group-item-action"
           onclick="window.location.href='../lib/commits_list.sh'">
          <strong>Commits</strong> - View the last 20 commits
        </a>
        <!-- Link to pull requests list -->
        <a href="#" class="list-group-item list-group-item-action"
           onclick="window.location.href='../lib/pr_list.sh'">
          <strong>Pull Requests</strong> - View the last 20 PRs
        </a>
      </div>
    </div>
  </div>
  